[Unit]
Description=Backrest Service
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
ExecStart=__INSTALL_DIR__/backrest
Environment="BACKREST_PORT=127.0.0.1:__PORT__"
StandardOutput=append:/var/log/__APP__/__APP__.log
StandardError=inherit

[Install]
WantedBy=multi-user.target
