[Unit]
Description=Backrest: orchestrator for Restic backup
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__INSTALL_DIR__/
ExecStart=/usr/bin/sudo __INSTALL_DIR__/backrest -config-file __DATA_DIR__/config.json -bind-address 127.0.0.1:__PORT__ -data-dir __DATA_DIR__ 
StandardOutput=append:/var/log/__APP__/__APP__.log
StandardError=inherit

[Install]
WantedBy=multi-user.target
